
    * {
      margin: 0;
      padding: 0;
    }
    .lettery{
      background: #ffe539;
      height: 100%;
    }
    .lettery .box{
      width: 100%;
      height: 133.87vw;
      background: url('../img/bg.png') no-repeat;
      background-size: 100%;
    }
    .lettery .box .text {
      padding-top: 20vw;
      text-align: center;
    }
    .lettery .box .text span{
      font-size: 1rem;
      color: #000;
      display: block;
    }
    .lettery .box .text label{
      font-size: .75rem;
      color: rgba(255, 255, 255, .8);
      display: block;
      margin-top: 5.2vw;
    }
    .lettery .box .text p{
      font-size: 1rem;
      color: #fff;
      margin-top: .36vw;
    }
    .lettery .box .game{
      margin: 4.4vw auto 0;
      width: 67.8vw;
      height: 59.4vw;
      display:flex;
      flex-wrap: wrap;
      position: relative;
      text-align: center;
    }
    .lettery .box .game span{
      width: calc(100% / 3 - 2px);
      height: calc(100% / 3 - 2px);
      box-sizing: border-box;
      background: url(../img/box.png) no-repeat;
      background-size: 100%;
      margin: 3px 3px 0 0;
    }
    .lettery .box .game span:nth-child(5){
      background: url(../img/play.png) no-repeat;
      background-size: 100%;
      cursor: pointer;
    }
    .ban{
      background: url(../img/display.png) no-repeat !important;
      background-size: 100% !important;
    }
    .lettery .box .game span img{
      /* width: 100%; */
      height: 90%;
    }
    .lettery .box .game label{
      position: absolute;
      top: 0;
      left: 0;
      background: url(../img/on.png);
      background-size: 100%;
      width: calc(100% / 3 - 2px);
      height: calc(90% / 3 - 2px);
      border-radius: 12.5%;
      transition: left .1s, top .1s;
      opacity: .5;
    }
    .lettery .box .game span:nth-child(3), .lettery .box .game span:nth-child(6), .lettery .box .game span:nth-child(9) {
      margin-right: 0;
    }
    .lettery .box .game span:nth-child(1), .lettery .box .game span:nth-child(2), .lettery .box .game span:nth-child(3){
      margin-top: 0;
    }
    .rule{
      text-align: center;
      padding: 0 4vw 6.66vw;
    }
    .rule i{
      width: 40vw;
      height: 8vw;
      line-height: 8vw;
      text-align: center;
      background: url(../img/border.png) no-repeat;
      background-size: 100% 100%;
      display: inline-block;
    }
    .rule span,.rule p{
      display: block;
      color: #000;
      font-size: .9375rem;
      line-height: 1.3125rem;
      text-align: left;
      margin-top: 5.6vw;
    }
    .rule p{
      font-weight: 700;
    }